<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Kood *</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-disabled="existingEntity" ng-model="kaup.kaubaKood"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Nimetus *</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.nimetus"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Hind *</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.hind"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Tarnija *</label></div>
        <div class="col-md-10">
            <select class="form-control" ng-options="tarnija as tarnija.nimi for tarnija in tarnijad" ng-model="kaup.tarnija">
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Tootja *</label></div>
        <div class="col-md-10">
            <select class="form-control" ng-options="tootja as tootja.nimi for tootja in tootjad" ng-model="kaup.tootja">
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Seisund *</label></div>
        <div class="col-md-10">
            <select class="form-control" ng-options="staatus as staatus.nimetus for staatus in staatused" ng-model="kaup.kaubaStaatus">
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Kategooria *</label></div>
        <div class="col-md-10">
            <select class="form-control" ng-options="kategooria as kategooria.nimetus for kategooria in kategooriad" ng-model="kaup.kaubaKategooria">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Pikkus</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.pikkus"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Laius</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.laius"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Kõrgus</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.korgus"/></div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-2 text-right"><label>Pildi aadress</label></div>
        <div class="col-md-10"><input type="text" class="form-control" ng-model="kaup.pildi_aadress"/></div>
    </div>
</div>

<div class="form-group text-center">
    <button type="submit" class="btn btn-primary" ng-click="addKaup()">Salvesta</button>
    <button type="submit" class="btn btn-danger" ng-click="deleteKaup()" ng-show="existingEntity">Kustuta</button>
</div>

<!--<div class="form-group">
    <pre>{{ kaup | json }}</pre>
</div>-->